<% content_for :content_association do %>
	<h3><b class="reddark">
		A noter : <br>
		TOUS les dons seront entièrement reversés à l'association "Les enfants du Dragon"
		</b></h3><br>

	« Les enfants du Dragon » est une association caritative créée en 2009 par Marc de Muynck et ses amis. L’association est officiellement enregistrée en France et au Vietnam.<br><br>

	L’association soutient financièrement et matériellement des projets bénéficiant aux enfants pauvres et leurs familles au Vietnam. Les actions se concentrent sur les plus pauvres (tels que les orphelins, les enfants des rues, les handicapés, ou infectés par les virus du VIH) et consiste en la remise en état ou la construction d’écoles, de dispensaires, et la construction de maisons pour les familles les plus démunies. <br><br>

	En Mai 2015, l’association a débutée la construction d’un orphelinat proche de Saigon. Cet important projet ambitionne de recevoir environ 100 enfants et de leur offrir une éducation, des formations professionnelles, et l’apprentissage des langues étrangères. Un endroit où les enfants se sentent comme dans une grande famille, où ils se sentent aimés.<br><br>

	<b class="reddark">Pour les aider à réaliser ce beau projet, l’association a besoin de nous !</b><br><br>
<% end %>

<% content_for :content_contact_association do %>
	Vous pouvez trouver plus d’informations sur l’association et ses actions sur :<br><br>
	<a href="http://www.lesenfantsdudragon.com" target="_blank">www.lesenfantsdudragon.com</a><br>
	Email: <a href="mailto:contact@lesenfantsdudragon.com" target="_top">contact@lesenfantsdudragon.com</a><br>
	Ou contacter directement : Mr Marc de Muynh  (Email: <a href="mailto:marcopolo1949@gmail.com" target="_top">marcopolo1949@gmail.com</a>)<br>
	Facebook: <a href="https://www.facebook.com/groups/Enfantsdudragon/" target="_blank">https://www.facebook.com/groups/Enfantsdudragon/</a>
<% end %>

