<% content_for :content_association do %>
	<h3><b class="reddark">
		Note that : <br>
		ALL donated money will go entirely and directly to the Charity “Les Enfants du Dragon” 
		</b></h3><br>

	"Les enfants du Dragon" (the childrens of the dragon) is a charity organization created in 2009 by Mr Marc de Muynck and his friend. The organization is officially registered since 2009 in France as well as in Vietnam.<br><br>

	The Charity organization aims to financially and materially support projects which benefits to poor children and their family in Vietnam. 
	Actions are focused on the poorest such as orphans, street children, disabled persons and HIV infected kids) and includes renovation of school, clinics, and construction of houses for homeless families. <br><br>

	In May this year, the organization has started the construction of an orphanage close by Ho Chi Minh city. This huge project hopes to welcome a hundred orphaned children, and offer them a real education, professional training, and the opportunity to learn foreign languages. A place where kids will feel like living in a big family, a place where they feel loved<br><br>

	<b class="reddark">To achieve all of this and even more, they need us! We can help them !!</b><br><br>
<% end %>

<% content_for :content_contact_association do %>
	You can find more info and updated actions of the organization at:<br><br>
	<a href="http://www.lesenfantsdudragon.com" target="_blank">www.lesenfantsdudragon.com</a><br>
	Email: <a href="mailto:contact@lesenfantsdudragon.com" target="_top">contact@lesenfantsdudragon.com</a><br>
	Or directly contact Mr Marc de Muynh (Email: <a href="mailto:marcopolo1949@gmail.com" target="_top">marcopolo1949@gmail.com</a>)<br>
	Facebook: <a href="https://www.facebook.com/groups/Enfantsdudragon/" target="_blank">https://www.facebook.com/groups/Enfantsdudragon/</a>
<% end %>