<% content_for :content_association do %>
	<h3><b class="reddark">
		Lưu ý rằng:<br>
		Tất cả số tiền quyên góp sẽ được chuyển  trực tiếp đến tổ chức từ thiện "Les Enfants du Dragon"
		</b></h3><br>

	Tổ chức từ thiện Những Đứa Con Của Rồng là một tổ chức từ thiện được thành lập vào năm 2009 bởi ông Marc de MUYNCK và bạn bè của mình. 
	Tổ chức này được đăng ký chính thức từ năm 2009 ở Pháp cũng như ở Việt Nam.<br><br>

	Mục đích của tổ chức từ thiện này là hỗ trợ về tài chính và vật chất cho các dự án về trẻ em nghèo và gia đình của những 
	trẻ em này ở Việt Nam. Hoạt động của tổ chức này tập trung vào nhóm người nghèo nhất như trẻ mồ côi, trẻ em đường phố, 
	người tàn tật và trẻ em bị nhiễm HIV) và bao gồm cả việc cải tạo trường học, trạm y tế, và xây dựng nhà ở cho các gia đình vô gia cư. <br><br>

	Vào tháng Năm năm nay, tổ chức này đã bắt đầu xây dựng một trại trẻ mồ côi gần thành phố Hồ Chí Minh. 
	Dự án lớn này được thành lập với hy vọng sẽ đón nhận hàng trăm trẻ em mồ côi, cung cấp cho các em một nền giáo dục thực tế, đào tạo hướng nghiệp và cho các em cơ hội để học ngoại ngữ. 
	Đây sẽ là nơi mà trẻ em sẽ cảm thấy như đang sống trong một gia đình lớn, một nơi mà các em cảm thấy được yêu thương.<br><br>

	<b class="reddark">Để đạt được tất cả những điều này và thậm chí còn làm nhiều hơn thế nữa thì họ cần sự trợ giúp của chúng ta! Và chúng ta có thể giúp họ!!</b><br><br>
<% end %>

<% content_for :content_contact_association do %>
	Bạn có thể tìm thêm thông tin và các hoạt động cập nhật của các tổ chức tại địa chỉ:<br><br>
	<a href="http://www.lesenfantsdudragon.com" target="_blank">www.lesenfantsdudragon.com</a><br>
	Email: <a href="mailto:contact@lesenfantsdudragon.com" target="_top">contact@lesenfantsdudragon.com</a><br>
	Or directly contact Mr Marc de Muynh (Email: <a href="mailto:marcopolo1949@gmail.com" target="_top">marcopolo1949@gmail.com</a>)<br>
	Facebook: <a href="https://www.facebook.com/groups/Enfantsdudragon/" target="_blank">https://www.facebook.com/groups/Enfantsdudragon/</a>
<% end %>