<% content_for :content_intro_diagonale do %>
	<b class="secondarycolordark">Nom :</b> La Diagonale des Fous<br><br>
	<b class="secondarycolordark">Depuis :</b> 1989<br><br>
	<b class="secondarycolordark">Distance :</b> <b class="reddark">163 Km</b><br><br>
	<b class="secondarycolordark">Dénivelé :</b> <b class="reddark">9’920 m</b><br><br>
	<b class="secondarycolordark">Quand :</b> Du 22 au 25 Octobre 2015<br><br>
	<b class="secondarycolordark">Où :</b> L'île de la Réunion<br><br>
	<b class="secondarycolordark">Site internet :</b> <a href="<%= t("link_diagonale") %>" target="_blank"><%= t("link_diagonale") %></a><br>
<% end %>

<% content_for :content_diagonale do %>
	Le Grand Raid, aussi appelé La diagonale des fous est une course Ultra-Marathon. Cette course se déroule chaque année en Octobre sur l’Ile de la Réunion, petite Ile française située entre Madagascar et L’Ile Maurice. 
	<a href="https://www.google.fr/maps/place/R%C3%A9union/@-21.1306889,55.5264794,10z/data=!3m1!4b1!4m2!3m1!1s0x2178778110b8e43b:0x4a7f8e89ecdbeaf9" target="_blank">Voir l'emplacement <i class="glyphicon glyphicon-screenshot"></i></a><br><br>

	<h4><b class="reddark">Vous pensez que courir un Marathon est difficile ?</b></h4><br>
	<h4><b class="reddark">Alors</b></h4><br>
	<h4><b class="reddark">Imaginez courir quatre marathons de suite… Un peu fou !!</b></h4><br>

	Et pourtant, c’est ce qu’accomplissent les coureurs de la diagonale des fous. En arrivant au bout des 163Km et des 9996 mètres de dénivelé (équivalent a 30 Tour Eiffel), les participants reçoivent un T-shirt mythique mentionnant « J’ai survécu ! » Cette course est réputée comme l’une des plus dures du monde.<br><br>

	<h4><b class="reddark">Et c’est ce que Nicolas s’apprête à accomplir !</b></h4><br>

	Le grand raid est un challenge fantastique, pour des moitiés de sportifs, mais des complètements fous ! Pendant la course, les coureurs atteignent 5 sommets de 2000 mètres et plus, s’approchent du volcan, flirtent avec des ravins, et des forêts primaires. Sur les 2500 coureurs du départ, seulement 70% finiront la course.<br><br>

	La gagnant, coureur professionnel, finira en environ 22 heures mais les derniers pourront mettre jusqu'à 64 heures ; dernière barrière de temps. <br><br>

<% end %>