<% content_for :content_diagonale do %>
	The Grand Raid de la Réunion, also called La diagonale des fous (The Madmen's Diagonal) is a mountain ultramarathon race. The race takes annually place in October on Réunion island, a French overseas department in the Indian Ocean, situated between Madagascar and Mauritius. 
	<a href="https://www.google.fr/maps/place/R%C3%A9union/@-21.1306889,55.5264794,10z/data=!3m1!4b1!4m2!3m1!1s0x2178778110b8e43b:0x4a7f8e89ecdbeaf9" target="_blank">See the location <i class="glyphicon glyphicon-screenshot"></i></a><br><br>

	<h4><b class="reddark">Just imagine running a full mountain marathon! Challenging?</b></h4><br>
	<h4><b class="reddark">So</b></h4><br>
	<h4><b class="reddark">Just imagine running four full mountain marathons in a row! Completely crazy!</b></h4><br>

	And yet it is the feat the “diagonale des fous” finishers accomplish. When they are presented with the medal and the yellow tee-shirt emblazoned “I survived”, they have run, in a single stage, over 163km and climbed 9900m which is equivalent to 30 Eiffel Tower. It is reputed to be one of the 10th hardest race in the world<br><br>

	<h4><b class="reddark">And it is what Nicolas aspires to achieve!</b></h4><br>

	The Grand Raid is a fantastic physical challenge and those who dare it are half sportsmen, full madmen, indeed! From start to finish competitors climb 5 peaks culminating at about 2000m (the highest point being 2411m high!). They skirt the volcano, touch the sky on crest paths overlooking deep ravines, the cirque of Cilaos, they walk through Mafate and waddle ankle deep in mud in Kerveguen forest. The Grand Raid has become a myth: out of the initial 2500 or so, less than 70% make it to the finish.<br><br>

	The winner (professional athlete) completes the race in about 22 hours while the last finisher is allowed 64!<br><br>

<% end %>