<% content_for :content_intro_diagonale do %>
	<b class="secondarycolordark">Tên :</b> La Diagonale des Fous - (The Madmen's Diagonal)<br><br>
	<b class="secondarycolordark">Bắt đầu năm :</b> 1989<br><br>
	<b class="secondarycolordark">Khoảng cách :</b> <b class="reddark">163 Km</b><br><br>
	<b class="secondarycolordark">Độ cao :</b> <b class="reddark">9'920 m</b><br><br>
	<b class="secondarycolordark">Thời gian :</b> Ngày 22 đến 25 tháng 10 năm 2015<br><br>
	<b class="secondarycolordark">Địa điểm :</b> Đảo La Réunion Island<br><br>
	<b class="secondarycolordark">Trang web :</b> <a href="<%= t("link_diagonale") %>" target="_blank"><%= t("link_diagonale") %></a><br>
<% end %>

<% content_for :content_diagonale do %>
	The Grand Raid de la Réunion, còn gọi là La diagonale des fous (The madmen’s Diagonal) là một cuộc đua siêu marathon trên núi. 
	Cuộc đua diễn ra trong tháng mười hàng năm trên đảo Réunion, một hòn đảo thuộc Pháp nằm ở Ấn Độ Dương, giữa Madagascar và Mauritius. 
	<a href="https://www.google.fr/maps/place/R%C3%A9union/@-21.1306889,55.5264794,10z/data=!3m1!4b1!4m2!3m1!1s0x2178778110b8e43b:0x4a7f8e89ecdbeaf9" target="_blank">Xem vị trí <i class="glyphicon glyphicon-screenshot"></i></a><br><br>

	<h4><b class="reddark">Hãy tưởng tượng cuộc đua marathon trên núi. Đây đã được coi là một thử thách chưa?</b></h4><br>
	<h4><b class="reddark">Do vậy</b></h4><br>
	<h4><b class="reddark">Hãy tưởng tượng cuộc đua marathon 4 vòng trên núi. Thật là ý tưởng điên khùng!</b></h4><br>

	Nhưng đó chính là kì công của những người kết thúc cuộc đua "diagonale des fous". 
	Khi họ được trao huy chương và chiếc áo màu vàng có phù hiệu "Tôi đã sống sót", 
	họ đã chạy trong một hành trình duy nhất hơn 163km và leo cao tổng cộng 9900m tương đương với 30 tòa tháp Eiffel. 
	Do đó đường đua này được mang danh là một trong 10 đường đua khó khăn nhất trên thế giới.<br><br>

	<h4><b class="reddark">Và đó là những gì Nicolas mong muốn đạt được!</b></h4><br>

	The Grand Raid là một thách thức thể lực tuyệt vời và những người dám thực hiện đã được coi như là bán chuyên nghiệp và tất nhiên thực sự điên khùng! 
	Từ đầu đến cuối các đối thủ leo 5 đỉnh núi cao khoảng 2000m (đỉnh cao nhất là 2411m!). 
	Họ chạy men theo các ngọn núi lửa, chạm vào bầu trời trên những đỉnh núi nhìn xuống vực núi sâu và các vùng trũng Cilaos, họ đi bộ qua Mafate và mắt cá chân lún sâu trong bùn trong rừng Kerveguen. 
	The Grand Raid đã trở thành một huyền thoại: từ con số 2500 người chạy ban đầu chỉ có ít hơn 70% có thể kết thúc cuộc đua.
	<br><br>

	Người chiến thắng (vận động viên chuyên nghiệp) hoàn thành cuộc đua trong khoảng 22 giờ, trong khi người chạy về đích cuối cùng hoàn thành đường đua trong 64 giờ!<br><br>

<% end %>