<% content_for :content_follow_race do %>
	
	<div class="row col-lg-12">
		<a href="http://grandraid.sfr.re/pages/classement/index.jsp" 
		target="_blank" class="btn btn-large btn-warning col-lg-12"> <i class="glyphicon glyphicon glyphicon-road"></i> 
		Follow Nicolas Race LIVE ! BIB 141 <i class="glyphicon glyphicon glyphicon-road"></i></a>
	</div>

	<br> <br>
	<div class="row col-lg-12" style="padding-bottom:30px;">
		<h3>Follow his final preparations, and encourage him on Facebook!</h3>


		<a href="http://www.facebook.com/privet.nicolas?ref=ts&fref=ts"  id="icon_fb">
			<%= image_tag "icon_fb.png", class: "col-md-1 col-md-push-5" %>
		</a>
	</div>

	<div class="row col-lg-12">
		<div class="col-md-4" style="margin-top:30px;">
			<%= image_tag "follow1.jpg", class:"img-responsive" %>
		</div>
		<div class="col-md-4">
			<%= image_tag "follow2.jpg", class:"img-responsive" %>
		</div>
		<div class="col-md-4">
			<%= image_tag "follow3.jpg", class:"img-responsive" %>
		</div>
	</div>

	<br><br>
	<div class="row col-lg-12">
		<h1 class="reddark" style="margin-top:30px;">
			ALLEZ NICO !!! VAMOS NICO !!! COME ON NICO !!! <br>
			ĐI NÀO NICO !!! LATEN WE GAAN NICO !!! FORZA NICO !!!
		</h1>
	</div>
<% end %>

<% content_for :content_intro do %>
	<p>Welcome!!</p>

	<p>Thank you for visiting this page!<br>
	My objective here is to raise fund in a ludic way for a charity association “Les Enfants du Dragon” ; which is doing great things in Vietnam to support kids and their families in need. You can learn more about the association in the dedicated part of this website and directly on their website.</p>

	<p>To achieve this, I will run one of the top 10 most difficult trail race in the world, “La diagonale des fous” starting on the 22nd of October 2015. The race is a single stage of 163km with 9996m elevation, and will take place in the beautiful tropical Island “La Reunion”. You can learn more about the race in the dedicated part of this website and directly on the official website. <a href="https://www.google.fr/maps/place/R%C3%A9union/@-21.1306889,55.5264794,10z/data=!3m1!4b1!4m2!3m1!1s0x2178778110b8e43b:0x4a7f8e89ecdbeaf9" target="_blank" class="remove-link">See the location <i class="glyphicon glyphicon-screenshot"></i></a></p>

	<p>You are invited to support the project by making a donation promise here below, which will be depending on how far I make it during the race. (of course to the end!!). 100% of the donation amount will be given to the association.</p>

	<p>Please visit the sections below to learn more about the project, and hopefully, make a donation for the association. There is no small donation, each USD, EURO, and VND counts!!!</p>

	<p>Last, on top of donating to the association, if you or your entity is interested in sponsoring me for the race, it is of course great. In this case, please contact me directly.</p>

	<p>If anything is unclear to you, please contact me directly at 
		<a href="mailto:nicolas.privet@gmail.com" target="_top" class="remove-link">Nicolas.privet@gmail.com</a>, I will reply asap.</p>

	<p class="secondarycolor"><b>Enjoy the visit!</b></p>

<% end %>