<% content_for :content_nicolasprivet do %>
	Nicolas a 33 ans, vit et travaille au Vietnam depuis 2006. <br><br>

	<h4><b class="reddark">Ses débuts en course à pied</b></h4>

	Nicolas a commencé à courir très récemment, il y a environ 2 ans, sa première course étant un 10 kilomètres. Un mois plus tard, il courrait déjà un 50 km en Thaïlande.<br>

	Puis, après un an d’entraînement et quelques courses, Nicolas retourna en Thaïlande pour courir son premier 100 KM avec un résultat satisfaisant, finissant 29ème sur 191.<br><br>

	Ce jour, Nicolas décida de s’inscrire à quelque chose de plus fou, La Diagonale des Fous, 163km pour 9996 mètres de dénivelé.<br><br>
	
	<h4><b class="reddark">Nicolas et l’Ile de la Réunion</b></h4>

	Nicolas connaît bien les lieux. En 2005, il séjourna sur l’Ile 5 semaines et parcouru la plupart de ses sentiers en randonnée avec son pote Jojo. A se rappeler de ce voyage ? «  Paysage merveilleux, faune et flore fantastique, chemins très techniques, dénivelés impressionnant et un excellent Rhum ! »  <br><br>

	<h4><b class="reddark">#Courir pour une cause  </b></h4>

	Afin de donner un sens a son nouveau challenge, avoir un impact et durcir la motivation, Nicolas a décidé de ne pas courir seulement pour lui, mais de soutenir une association caritative, a chaque pas qu’il parcourra pendant la course…Nicolas a contacte la bien connue association Les enfants du Dragon, qui s’est montrée très intéressée en ce projet. <br>

	<h3><b class="reddark">100% des dons seront directement versés à l’association Le Enfants du Dragon  </b></h3><br>

	<h4><b class="reddark">Entraînement </b></h4>

	Le contenu de l‘entrainement... La chaleur Vietnamienne dans laquelle Nicolas s’entraine l’aidera pendant la course sur l’ile tropical, cependant Saigon est désespérément... PLAT... ce qui est un problème important. Afin de compenser, Nicolas s’entraîne dans des cages d’escalier (24 étages) et aime sa corde a sauter... <br><br><br>

	<h4><b class="reddark">Dernières courses auxquelles Nicolas a participé : </b></h4>
<% end %>

<% content_for :content_competition_to_come do %>
	Compétitions à venir avant La Diagonale des Fous
<% end %>

<% content_for :content_conclusion do %>
	<h4><b class="reddark">Autres sports et évènements durant lesquels Nicolas a gagne en expériences qui lui seront utiles :  </b></h4>
	<ul>
		<li>Ta Lai Trophy 2015 & 2014: Quadriathlon in the Vietnamese Jungle ; Kayak, swimming, mountain Bike, off road running</li>
		<li>Dragon Dash 2015 HCMC</li>
		<li>Danang International Marathon 2014, ...</li>
	</ul>
	<br><br>
	<h3><b class="reddark">Ici, Nicolas publiera des articles sur sont entrainement avant la course et sur d’autres sujets.</b></h3>
<% end %>
