<% content_for :content_nicolasprivet do %>
	Nicolas năm nay 33 tuổi, sinh ra ở Pháp nhưng đang sống và làm việc tại Việt Nam từ năm 2006. <br><br>

	<h4><b class="reddark">Khởi đầu sở thích chạy marathon</b></h4>

	Nicolas bắt đầu chạy rất gần đây, chỉ khoảng từ 2 năm trước đây với cuộc đua đầu tiên là 10km vào tháng Mười Hai năm 2013. 
	Một tháng sau cuộc đua đầu tiên của mình, vào tháng Giêng năm 2014, Nicolas đã tham gia và đạt được một cuộc đua 50km đường mòn chạy ở Thái Lan.<br>

	Một năm sau, sau khi tự luyện tập và tham gia vài cuộc đua, vào tháng Giêng năm 2015, Nicolas trở lại Thái Lan và chạy 100 km đầu tiên của mình với một kết quả tốt khi đạt thứ hạng 29 trên 191 người tham gia. 
	Sau thành tích này, Nicolas tích lũy đủ số điểm để đăng ký cho một số chặng đua điên khùng ... Having done this, Nicolas owned enough points to register for some thing crazy...<br><br>

	Đó là ngày Nicolas quyết định sẽ tham gia cuộc đua "La diagonale des fous"! Một cuộc đua duy nhất dài 163km cho 9920 mét độ cao. Thật sự ngông cuồng ...<br><br>
	
	<h4><b class="reddark">Nicolas và đảo "La Reunion" </b></h4>

	Nicolas biết rất rõ nơi này ... Anh ấy đã ở đó 5 tuần năm 2005 và những lúc không uống 
	Rhum và thưởng thức Zamal, anh ấy đã dành hầu hết thời gian của mình đi bộ đường dài khoảng 3 vòng núi lửa cùng với người bạn tên Jojo! Những gì anh ấy còn nhớ từ khoảng thời gian này là: 
	" cảnh vật thật đẹp, hệ động vật và thực vật phong phú, người dân thân thiện, thời tiết siêu hot, những con đường mòn rất kỹ thuật (cho cuộc đua marathon) và độ cao khủng". <br><br>

	<h4><b class="reddark">#Chạy vì mục đích từ thiện </b></h4>

	Để có thêm sức mạnh vượt qua những thử thách mới và cũng để tăng thêm động lực cho mình, 
	Nicolas đã quyết định không chỉ chạy cho riêng mình mà còn để giúp đỡ một hiệp hội từ thiện thông qua từng bước chân anh ấy chạy trong cuộc đua ... 
	Nicolas đã liên lạc với người Pháp quản lý tổ chức từ thiện Les Enfants Du Dragon tại Việt Nam, và tổ chức này cũng đã thể hiện mối quan tâm lớn với cuộc đua. <br>

	<h3><b class="reddark">Xin lưu ý rằng 100% số tiền quyên góp sẽ được trực tiếp trao cho tổ chức từ thiện "Les Enfants du Dragon"  </b></h3><br>

	<h4><b class="reddark">Luyện tập </b></h4>

	Các nội dung luyện tập, ... 
	Khí hậu nóng ở Việt Nam mà Nicolas đã quen thuộc sẽ hỗ trợ anh ấy trong việc thực hiện cuộc đua này. 
	Tuy nhiên thành phố Hồ Chí Minh là một nơi rất bằng phẳng và đó là một thách thức lớn đối với việc luyện tập. 
	Để bù đắp cho khiếm khuyết đó, Nicolas luyện tập với cầu thang khu  nhà ở (24 tầng) và thích thú với việc nhảy dây của mình! <br><br><br>

	<h4><b class="reddark">Những đường đua Nicolas đã thực hiện: </b></h4>
<% end %>

<% content_for :content_competition_to_come do %>
	Những thử thách trước cuộc đua  "La diagonale des fous"
<% end %>

<% content_for :content_conclusion do %>
	<h4><b class="reddark">Những sự kiện thể thao khác mà Nicolas đã tham gia một cách vui vẻ và kinh nghiệm thu được trong việc giảm thiểu đau, mỏi khi chạy ... 
	và tất nhiên là bí quyết để hoàn thành những cuộc chạy đua!  </b></h4>
	<ul>
		<li>Cúp Ta Lai năm 2015 & 2014: Các môn phối hợp trong rừng nhiệt đới ở Việt Nam; Kayak, bơi lội, đạp xe trên núi và chạy ngoài đường chạy.</li>
		<li>Rồng Dash 2015 TP.HCM</li>
		<li>Cuộc chạy Marathon quốc tế ở Đà Nẵng năm 2014, ...</li>
	</ul>
	<br><br>
	<h3><b class="reddark">Ở phần này Nicolas sẽ cập nhật thường xuyên về tình hình luyện tập và thể lực của mình cũng như đưa lên các bài viết  về thiết bị luyện tập, chế độ dinh dưỡng ...</b></h3>
<% end %>