<% content_for :content_intro do %>
	Avant de faire un don, il est important que vous soyez clair sur les points ci-dessous. Lisez ces quelques lignes attentivement et n’hésitez pas a me contacter si vous avez des questions (<a href="mailto:nicolas.privet@gmail.com" target="_top">Nicolas.privet@gmail.com</a> ou +84 91 400 8393)<br>
	D’avance, merci de votre soutien aux enfants, et de me donner l’énergie nécessaire a finir cette course !!! <br><br>
<% end %>

<% content_for :content_readbeforedonation do %>
	<ul>
		<li>
			100% des dons seront directement donnés à l’association. Nous leur donnerons également vos coordonnées.
		</li>
		<br>
		<li>
			Les dons sont à faire par kilomètres, ce qui signifie que le montant maximum sera 163 fois plus élevé. Par exemple, si vous décidez de donner 20 centimes d’Euro par Km, le don total sera de 163*0.2=32.2 Euros
		</li>
		<br>
		<li>
			Pour l’instant, ce ne sont que des promesses de dons, et le montant final sera calculé en fonction de ma performance ce pendant la course, ensuite l’argents sera collecté. 
		</li>
		<br>
		<li>
			Plusieurs possibilités seront offertes afin de recevoir les dons aussi bien en France, qu’au Vietnam. Nous vous contacterons directement en Octobre afin de connaitre vos préférences. 
		</li>
		<br>
		<li>
			Nous organiserons après la course une petite cérémonie au Vietnam afin de remettre les dons à l’association Les Enfants du Dragon. Des certificats de dons seront imprimés.
		</li>
		<br><br>
		<b class="reddark">
			Encore une fois, merci encore de votre soutien a l’association, cela les aidera à réaliser de grandes choses au Vietnam !!!
		</b>

	</ul>
<% end %>