<% content_for :content_intro do %>
	Trước khi thực hiện việc đóng góp, điều quan trọng nhất là bạn hiểu rõ thông tin dưới đây. 
	Xin vui lòng đọc cẩn thận và đừng ngại liên hệ với tôi khi bạn có bất kỳ câu hỏi 
	(<a href="mailto:nicolas.privet@gmail.com" target="_top">Nicolas.privet@gmail.com</a> hoặc +84 91 400 8393)<br>
	Trước hết xin cảm ơn bạn đã hỗ trợ những đứa trẻ không may mắn và cho tôi thêm ý chí để chạy đường đua này !! <br><br>
<% end %>

<% content_for :content_readbeforedonation do %>
	<ul>
		<li>
			100% số tiền đóng góp của bạn sẽ được trao cho tổ chức từ thiện được lựa chọn. Thông tin của bạn sẽ được gửi đính kèm với nó.
		</li>
		<br>
		<li>
			Số tiền quyên góp được dựa trên 1 km tôi chạy, có nghĩa là tổng số tiền có thể lên đến 163 lần số tiền này. Hãy ghi nhớ rằng “Tôi muốn kết thúc cuộc đua !”. 
			Ví dụ, nếu bạn quyết định đóng góp 20cts USD, và tôi sẽ kết thúc đường đua 163 km thì tổng số tiền bạn sẽ đóng góp là 163 * 0,2 = 32,2 USD.
		</li>
		<br>
		<li>
			Bây giờ chúng tôi xin ghi nhận lời hứa đóng góp và số tiền cuối cùng sẽ được tính tùy thuộc vào khoảng cách tôi sẽ chạy. Điều quan trọng nhất là hãy giữ lời hứa của mình!
			Tuy nhiên, nếu bạn muốn thay đổi số tiền quyên góp bạn đã hứa (nhiều hoặc ít hơn), xin vui lòng liên hệ với tôi để cập nhật thông tin.
		</li>
		<br>
		<li>
			Bạn có thể lựa chọn hình thức đóng góp bằng cách hoặc là thu tiền mặt tại một số điểm, chuyển khoản trực tiếp đến tổ chức từ thiện ở Pháp hay ở Việt Nam.
			Chúng tôi sẽ liên hệ với bạn trực tiếp vào cuối tháng Mười tùy theo cách bạn lựa chọn.
		</li>
		<br>
		<li>
			Chúng tôi sẽ tổ chức một buổi lễ nhỏ khi trao tặng số tiền đóng góp cho quỹ "Les Enfants du Dragon" và sẽ cung cấp giấy chứng nhận từ thiện cho bạn.
		</li>
		<br><br>
		<b class="reddark">
			Một lần nữa, cảm ơn bạn rất nhiều vì đã ủng hộ cho tổ chức từ thiện, sự đóng góp của bạn sẽ giúp họ làm được những điều tuyệt vời ở Việt Nam.
		</b>

	</ul>
<% end %>