<% content_for :content_intro do %>
	Prior of making a donation, it is important that you are clear on the below. Please read those lines carefully, and don’t hesitate to contact me for any questions you may have. (<a href="mailto:nicolas.privet@gmail.com" target="_top">Nicolas.privet@gmail.com</a> or +84 91 400 8393)<br>
	By advance, thank you for your support to the kids, and giving me the will to run this race!! <br><br>
<% end %>

<% content_for :content_readbeforedonation do %>
	<ul>
		<li>
			100% of the donation you make will be given to the selected charity organization. Your information will be sent together with it.
		</li>
		<br>
		<li>
			Donation amount is based on 1 km, which means that total amount may reach 163 times this amount. Keep it in mind; I want to finish the race!! For example, if you decide to give 20cts USD, and I make it to the end, km 163, your donation shall be 163*0.2=32.2 USD
		</li>
		<br>
		<li>
			We ask for donation promise for now only, and the final amount will be calculated depending on my performance, then the money collected. However, please keep your words, it is important! However, if you would like to change the donation amount you have made (either up or down), please contact me for an update.
		</li>
		<br>
		<li>
			Several possibilities will be offered to you when collecting the donations, cash to the collection points, direct transfer to the association either in France or in Vietnam, we will contact you directly and individually end of October to proceed according to your preferences.
		</li>
		<br>
		<li>
			We will organize a mini ceremony when giving the fund to “Les Enfants du Dragon” and a certificate of donation will be issue.
		</li>
		<br><br>
		<b class="reddark">
			Again, thank you so much for your support to the charity, it will help them to achieve great things here in Vietnam.
		</b>

	</ul>
<% end %>