<% content_for :content_intro do %>
	This page is dedicated to my sponsors, which support me in several ways either financially, materially, technically or offering me motivation!! <br><br> 
	I would like to deeply thank them for their support and by making this race as well as this fund raising for the charity possible. <br><br>
<% end %>

<% content_for :content_salomon do %>
	During the race, I will proudly wear SALOMON shoes and apparels supported by <b>SALOMON VIETNAM</b> team.<br><br>
	To me, SALOMON products are definitively the best for trail running and especially on long and ultra long distances for which, there is no space for products failure...<br><br>
	<b class="reddark">Also, SALOMON VIETNAM has immediately expressed a great interest in the runforacause.fr project and I would like to thank them a lot for this!</b>
	<br>
<% end %>

<% content_for :content_ruby do %>
	<b>Ruby Soho</b> is a great bar located in Skygarden, Phu My hung, owned by a lover of rock, manga and movies, Mr Fred and his wife Ms Doanh.<br> Every evening, the ambiance is there, and live music is most often played at weekend; a great place to relax with a beer!!<br>
	<b class="reddark">Ruby Soho is supportive to this project since the start! Thank you!</b>
<% end %>

<% content_for :content_remi do %>
	Remi Privet, on top of being my brother is an IT engineer who has created the fund raising website, and hosting it as well.  Merci! 
	If you are an Android user, please visit his website <a href="http://remiprivet.fr" target="_blank">www.remiprivet.fr</a> and discover few apps he has developed for your fun!
<% end %>