<% content_for :content_intro do %>
	Trang này được dành riêng cho các nhà tài trợ của tôi, những người đã và đang hỗ trợ tôi bằng nhiều cách khác nhau, hoặc về tài chính, vật chất, 
	kỹ thuật hoặc tiếp thêm cho tôi động lực để chạy đua !! <br><br> 
	Tôi muốn gửi lời cảm ơn sâu sắc đến các nhà tài trợ cho cuộc đua này cũng như những nhà hảo tâm đóng góp cho tổ chức từ thiện. <br><br>
<% end %>

<% content_for :content_salomon do %>
	Trong cuộc đua, tôi sẽ tự hào được mang giày SALOMON và quần áo được hỗ trợ bởi <b>Salomon Việt Nam</b><br><br>
	Đối với tôi, các sản phẩm Salomon chắc chắn là tốt nhất cho việc đường mòn chạy và đặc biệt là những cuộc chạy cự li dài và rất dài, nơi không có chỗ cho bất kì sản phẩm kém chất lượng nào...<br><br>
	<b class="reddark">Ngoài ra, Salomon Việt Nam cũng đã nhanh chóng bày tỏ sự quan tâm lớn đến dự án runforacause.fr và tôi muốn cảm ơn họ rất nhiều về điều này!</b>
	<br>
<% end %>

<% content_for :content_ruby do %>
	<b>Ruby Soho</b> là một quán bar tuyệt vời nằm trong khu Skygarden, Phú Mỹ hung và thuộc quyền sở hữu của một người yêu rock, manga và phim ảnh, ông Fred và vợ ông ấy, bà Doanh.<br> 
	Vào mỗi buổi tối, quán bar là nơi để thư giãn tuyệt vời và còn có cả nhạc sống thường được chơi vào cuối tuần!<br>
	<b class="reddark">Ruby Soho đã hỗ trợ cho dự án này ngay từ đầu! Xin cám ơn!</b>
<% end %>

<% content_for :content_remi do %>
	Remi Privet, không chỉ là em trai của tôi mà còn là một kỹ sư IT, người đã tạo ra trang web gây quỹ từ thiện này và quản lí nó. Xin cảm ơn em! 
	Nếu bạn dùng Android xin vui lòng truy cập trang web của anh ấy ở địa chỉ <a href="http://remiprivet.fr" target="_blank">www.remiprivet.fr</a> và khám phá vài ứng dụng mà Remi đã phát triển!
<% end %>