<% content_for :content_intro do %>
	Cette page est dédiée à mes sponsors, qui me supportent de plusieurs manières, soit financièrement, matériellement et m’offrant beaucoup de motivation !!!<br>
	Je tiens à les remercier sincèrement de leur soutien, et sans eux ce projet ne serait pas possible.
 <br><br>
<% end %>

<% content_for :content_salomon do %>

	<b class="reddark">Salomon Vietnam s’est montré très intéressé dans ce projet dès le début, et ainsi, c’est avec grande fierté que je vais courir la Diagonale des Fous avec des chaussures et équipements offerts par l’équipe de Salomon Vietnam.</b><br><br>
	Salomon, entreprise Haute-Savoyarde, est la plus grande marque d’équipement de trail, spécialement sur les longues distances ou il n’y a pas de place pour le hasard...<br><br>
	MERCI SALOMON VIETNAM !!!
	<br>
<% end %>

<% content_for :content_ruby do %>
	<b>Le Ruby Soho</b> est un bar super sympa situé au Skygarden, Phu My Hung, tenu par un amoureux de Rock et de Manga, Fred et sa femme Doanh.<br> Tous les soirs, le bar est animé, et des concerts de music live sont organisés chaque Vendredi soir. Le meilleur endroit pour se détendre avec une bière après l’entrainement (ou le travail) !<br>
	<b class="reddark">Ruby Soho supporte ce projet depuis son démarrage. MERCI !</b>
<% end %>

<% content_for :content_remi do %>
	Remi Privet, on top of being my brother is an IT engineer who has created the fund raising website, and hosting it as well.  Merci! 
	If you are an Android user, please visit his website <a href="http://remiprivet.fr" target="_blank">www.remiprivet.fr</a> and discover few apps he has developed for your fun!
<% end %>