<div class="container roboto-regular" style="margin-top: 50px;">
	<div class="bs-callout bs-callout-yellow row">
		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("whois_charity_title") %> ?</h1>
		</div>
		
		<div class="col-lg-6 col-lg-push-3">
			<%= image_tag "contact/enfantsdragon.jpg", class:"img-responsive" %>
		</div>
	</div>

	<div class="col-lg-12" style="margin-top:20px;">
		<h3><b class="reddark"><%= t("name_enfants_dragon") %></b></h3><br>
		<h3><b class="reddark">
			Note that : <br>
			ALL donated money will go entirely and directly to the Charity “Les Enfants du Dragon” 
			</b></h3><br>
	</div>

	<div class="col-lg-12">
		<div class="bs-callout bs-callout-yellow row">
			<div class="col-lg-6">
				<a href="http://lesenfantsdudragon.com/" target="_blank"><b class="secondarycolordark"><i class="glyphicon glyphicon-share-alt"></i> Official website</b></a><br>
			</div>
			<div class="col-lg-6">
				<a href="https://www.facebook.com/groups/Enfantsdudragon" target="_blank"><b class="secondarycolordark"><i class="glyphicon glyphicon-share-alt"></i> Official Facebook page</b></a><br>
			</div>
		</div>
	</div>

</div>