<%
meta title: "Runforacause.fr - Contacts",
     description: "Nicolas Privet's website, to raise fund for charity organization Les Enfants Du Dragon. Diagonale des fous.",
     keywords: %w(Nicolas Privet Diagonale fous Enfants dragon Email Contact)
%>

<div class="container roboto-regular" style="margin-top: 50px;">
	<div class="bs-callout bs-callout-yellow row">
		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("contactus_title") %></h1>
		</div>
		<div class="col-lg-12">
			<h3 class="reddark" style="margin-bottom:30px;">Nicolas PRIVET</h3>
		</div>
		<div class="col-lg-12">
			Email : <a href="mailto:nicolas.privet@gmail.com" target="_top">Nicolas.privet@gmail.com</a><br>
			Facebook: <a href="http://www.facebook.com/privet.nicolas?ref=ts&fref=ts">www.facebook.com/privet.nicolas</a><br>
			Phone: +84 91 400 8393

		</div>


	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53426890-4', 'auto');
  ga('send', 'pageview');

</script>