<div class="container roboto-regular" style="margin-top: 50px;">
	<div class="bs-callout bs-callout-yellow row">
		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("contactus_title") %></h1>
		</div>
		<div class="col-lg-12">
			<h3 class="reddark" style="margin-bottom:30px;">Nicolas PRIVET</h3>
		</div>
		<div class="col-lg-12">
			Email : <a href="mailto:nicolas.privet@gmail.com" target="_top">Nicolas.privet@gmail.com</a><br>
			Facebook: <a href="http://www.facebook.com/privet.nicolas?ref=ts&fref=ts">www.facebook.com/privet.nicolas</a><br>
			Phone: +84 91 400 8393

		</div>


	</div>
</div>