<div class="container roboto-regular" style="margin-top: 50px;">
	<div class="bs-callout bs-callout-yellow row">

		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("gallery_diagonale") %></h1>
		</div>
		
		<div class="col-lg-12">
			Nicolas took all pictures below during his trip in La Reunion in 2005.
		</div>

	</div>
</div>