
<div style="margin-top: 50px;">
	<%= image_tag "home_banner.png", class: "img-home-banner" %>
</div>

<div class="container">

	<h1 class="deep-orange">Welcome to Nicolas Privet Raising Funds' Website </h1>
	<p>You will be able to follow its race to gain money for an association</p>


	<div class="bs-callout bs-callout-deep-orange row">
		<br>blabla
		<br>blabla
		<br>blabla
		<br>blabla
		<br>blabla
		<br>blabla
	</div>

	<h1 class="deep-orange">What is "La diagonale des fous" ? </h1>

	<div class="bs-callout bs-callout-deep-orange row">
		<br>blabla
		<br>blabla
		<br>blabla
		<br>blabla
		<br>blabla
		<br>blabla
	</div>

</div>

<div>
	<a href="http://www.grandraid-reunion.com/" target="_blank"><%= image_tag "track_ddf.png", class: "img-home-banner" %></a>
</div>

<div class="container">

	<div class="bs-callout bs-callout-deep-orange row">
		<br>blabla
		<br>blabla
		<br>blabla
		<br>blabla
		<br>blabla
		<br>blabla
	</div>

</div>