<div class="container roboto-regular" style="margin-top: 50px;">
	<div class="bs-callout bs-callout-yellow row">
		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("whoare_sponsors_title") %></h1>
		</div>
		<div class="col-lg-12">
			This page is dedicated to my sponsors, which support me in several ways either financially, materially, technically or offering me motivation!! <br><br> 

			I would like to deeply thank them for their support and by making this race as well as this fund raising for the charity possible. <br><br>

			<b class="reddark">By the way, I’m still looking for a sponsor, which could help me with the required equipment’s (shoes, clothes, bags,…). Just think that having a good equipment supplier will ensure I finish the race and therefore get a maximum of the funds for the charity organization!!! </b> <br><br>

		</div>
	</div>

	<div class="row">


		<div class="col-lg-12" style="margin-top:20px;">
			<h3><b class="reddark">Ruby Soho <br></b></h3><br>
		</div>

		
		<div class="col-lg-12"> 
			<div class="col-lg-6 col-lg-push-3">
				<%= image_tag "contact/ruby.png", class:"img-responsive" %>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="bs-callout bs-callout-yellow row">
				<div class="col-lg-12">
					<b>Ruby Soho</b> is a great bar located in Skygarden, Phu My hung, owned by a lover of rock, manga and movies, Mr Fred and his wife Ms Doanh.<br> Every evening, the ambiance is there, and live music is most often played at weekend; a great place to relax with a beer!!<br>
					<b class="reddark">Ruby Soho is supportive to this project since the start! Thank you!</b>
				</div>
				<div class="col-lg-6" style="margin-top:30px;">
					<b class="secondarycolordark"><%= t("address") %> :<br> S52-1, Pham Van Nghi, Sky Garden 2, Phu My Hung, District 7, Ho Chi Minh City, Vietnam</b><br>
				</div>
				<div class="col-lg-6" style="margin-top:30px;">
					<br>
					<a href="https://www.facebook.com/groups/342286199158879/?ref=ts&fref=ts" target="_blank"><b class="secondarycolordark"><i class="glyphicon glyphicon-share-alt"></i> Official Facebook page</b></a><br>
				</div>
			</div>
		</div>

		<div class="col-lg-12" style="margin-top:20px;">
			<h3><b class="reddark">Remiprivet.fr <br></b></h3><br>
		</div>
		<div class="col-lg-12">
			<div class="bs-callout bs-callout-yellow row">
				<div class="col-lg-12">
					Remi Privet, on top of being my brother is an IT engineer who has created the fund raising website, and hosting it as well.  Merci! 
					If you are an Android user, please visit his website <a href="http://remiprivet.fr" target="_blank">www.remiprivet.fr</a> and discover few apps he has developed for your fun!
				</div>
			</div>
		</div>

		<div class="col-lg-12" style="margin-top:20px; padding-bottom:20px;">
			<h3><b class="reddark">Potential <br></b></h3><br>
			Thu sports, any others even small very welcome... ! :)
		</div>

			

	</div>
</div>