<div class="container roboto-regular" style="margin-top: 50px;">
	<div class="bs-callout bs-callout-yellow row">
		<div class="col-lg-12">
			<h1 class="secondarycolor" style="margin-bottom:30px;"><%= t("whoare_sponsors_title") %> ?</h1>
		</div>
	</div>

	<div class="row">


		<div class="col-lg-12" style="margin-top:20px;">
			<h3><b class="reddark">Ruby Soho <br></b></h3><br>
		</div>

		
		<div class="col-lg-12"> 
			<div class="col-lg-6 col-lg-push-3">
				<%= image_tag "contact/ruby.png", class:"img-responsive" %>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="bs-callout bs-callout-yellow row">
				<div class="col-lg-6">
					<b class="secondarycolordark"><%= t("address") %> : S52-1, Pham Van Nghi, Sky Garden 2, Phu My Hung, District 7, Ho Chi Minh City, Vietnam</b><br>
				</div>
				<div class="col-lg-6">
					<a href="https://www.facebook.com/groups/342286199158879/?ref=ts&fref=ts" target="_blank"><b class="secondarycolordark"><i class="glyphicon glyphicon-share-alt"></i> Official Facebook page</b></a><br>
				</div>
			</div>
		</div>


		<div class="col-lg-12" style="margin-top:20px; padding-bottom:20px;">
			<h3><b class="reddark">Potential <br></b></h3><br>
			Thu sports, any others even small very welcome... ! :)
		</div>

			

	</div>
</div>