/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets", "bootstrap";


@font-face {
    font-family: "Roboto Regular";
    src: url(Roboto-Regular.ttf) format("truetype");
}

$MainColor:#9e9e9e;
$SecondaryColor:#3f51b5;
$SecondaryColorDark: #1a237e;

$Orange:#ff5722;
$OrangeDark:#e64a19;
$White:#ffffff;
$Yellow:#ffeb3b;
$YellowDark:#fdd835;
$Green:#4caf50;
$RedDark: #d50000;

.roboto-regular{
    font-family: 'Roboto Regular';
}

.robotoregular{
    font-family: 'robotoregular';
}

.maincolor-bg {
  background-color: $MainColor;
}

.maincolor {
  color: $MainColor;
}

.secondarycolor-bg {
  background-color: $SecondaryColor;
}

.secondarycolor {
  color: $SecondaryColor;
}

.secondarycolordark-bg {
  background-color: $SecondaryColorDark;
}

.secondarycolordark {
  color: $SecondaryColorDark;
}

.white {
  color: $White;
}
.reddark {
  color: $RedDark;
}

.green{
    color:$Green;
}

.navbar-default {
    border-color: $MainColor;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.img-home-banner{
	width:100%;
    height:350px;
}

.logo-ddf-home{
	position:relative;
}

.footer{
	box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.26);
}

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-radius: 0px;
    border-style: solid;
    border-width: 10px 1px 1px 1px;
    margin: 20px 0;
    padding: 20px;

	font-size:16px;
	color:#212121;
}

.bs-callout-maincolor{
    border-top-color: $MainColor;
}

.uppercase{
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

.btn{
    font-size: 16px;
    border: 1px solid transparent;
}

.btn-secondarycolor-hover:hover{
    border: 1px solid transparent;
    background-color: $MainColor;
    transition : background-color 0.2s ease-out 0s;
    color: $White;
}

.text-center{
    text-align: center;
}

.field_with_errors{
    color: #a94442;
    padding:0;
    margin:0;
}

.content-fund-description{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    margin: 20px 0;
    padding: 20px;
    font-size:16px;
    color:#212121;
}

html {
    min-height: 100%;
    position: relative;
}

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

