/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: "Roboto Regular";
    src: url(Roboto-Regular.ttf) format("truetype");
}

$Orange:#ff5722;
$OrangeDark:#e64a19;
$White:#ffffff;
$Yellow:#ffeb3b;
$YellowDark:#fdd835;
$Alert:#a94442;
$Green:#4caf50;

.roboto-regular{
    font-family: 'Roboto Regular';
}

.deep-orange-bg {
  background-color: $Orange;
}

.deep-orange {
  color: $Orange;
}

.dark-orange-bg{
	background-color: $OrangeDark;
}

.dark_orange{
	color: $OrangeDark;
}

.white {
  color: $White;
}

.green{
    color:$Green;
}

.navbar-default {
    border-color: $Orange;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.img-home-banner{
	width:100%;
}

.logo-ddf-home{
	position:relative;
}

.footer{
	box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.26);
}

.yellow{
    color: $Yellow;
}

.yellow-bg{
    background-color: $Yellow;
}

.yellow-dark{
    color: $YellowDark;
}

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-radius: 0px;
    border-style: solid;
    border-width: 10px 1px 1px 1px;
    margin: 20px 0;
    padding: 20px;

	font-size:16px;
	color:#212121;
}
.bs-callout-yellow{
    border-top-color: $Yellow;
}

.uppercase{
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

.btn{
    font-size: 16px;
    border: 1px solid transparent;
}

.btn-yellow-hover:hover{
    border: 1px solid transparent;
    background-color: $YellowDark;
    transition : background-color 0.2s ease-out 0s;
    color: $White;
}

.text-center{
    text-align: center;
}

.field_with_errors{
    color: $Alert;
    padding:0;
    margin:0;
}

.content-fund-description{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    margin: 20px 0;
    padding: 20px;
    font-size:16px;
    color:#212121;
}